body {
    background-color: #FF5733;
    color: white;
}

h1 {
    font-size: 20px;
}

#kitty-image {
    display: block;
    margin: 150px auto;
    max-width: 80vw;
    max-height: 80vh;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

@keyframes spin-reverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}